(
    texture_width: 8,
    texture_height: 16,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 4,
            height: 16,
            offsets: Some((-2.0, -8.0)),
        ),
        (
            x: 4,
            y: 0,
            width: 4,
            height: 4,
            offsets: Some((-2.0, -2.0)),
        ),
    ],
)
